<div class="agenda bg-color-blue">        
	<div class="container content-sm">
		<div class="text-center margin-bottom-50">
			<h2 class="title-v2 title-center">DESCUBRIR </h2>
		</div>
		<!-- -->
		<div class="owl-carousel-v1 owl-work-v1 margin-bottom-20">
	<div class="headline"><h2 class="pull-left">Troba el que estàs buscant</h2>
	<div class="owl-navigation">
	<div class="customNavigation">
	<a class="owl-btn prev-v2"><i class="fa fa-angle-left"></i></a>
	<a class="owl-btn next-v2"><i class="fa fa-angle-right"></i></a>
	</div>
	</div><!--/navigation-->
	</div>
	<div class="owl-recent-works-v1 owl-carousel owl-theme" style="opacity: 1; display: block;">
	<div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 4560px; left: 0px; display: block;"><div class="owl-item" style="width: 285px;"><div class="item">
	<a href="#" class="imglink">
	<em class="overflow-hidden">
	<img class="img-responsive" src="assets/images/descubre/img1.jpg" alt="">
	</em>
	<span>
	<strong>Id element |&nbsp; MALLORCA</strong>
	</span>
	</a>
	</div></div><div class="owl-item" style="width: 285px;"><div class="item">
	<a href="#">
	<em class="overflow-hidden">
	<img class="img-responsive" src="assets/images/descubre/img2.jpg" alt="">
	</em>
	<span>
	<strong>Id element |&nbsp; MALLORCA</strong>
	</span>
	</a>
	</div></div><div class="owl-item" style="width: 285px;"><div class="item">
	<a href="#">
	<em class="overflow-hidden">
	<img class="img-responsive" src="assets/images/descubre/img3.jpg" alt="">
	</em>
	<span>
	<strong>Id element |&nbsp; MENORCA</strong>
	</span>
	</a>
	</div></div><div class="owl-item" style="width: 285px;"><div class="item">
	<a href="#">
	<em class="overflow-hidden">
	<img class="img-responsive" src="assets/images/descubre/img4.jpg" alt="">
	</em>
	<span>
	<strong>Id element |&nbsp; MENORCA</strong>
	</span>
	</a>
	</div></div><div class="owl-item" style="width: 285px;"><div class="item">
	<a href="#">
	<em class="overflow-hidden">
	<img class="img-responsive" src="assets/images/descubre/img5.jpg" alt="">
	</em>
	<span>
	<strong>Id element |&nbsp; IBIZA</strong>
	</span>
	</a>
	</div></div><div class="owl-item" style="width: 285px;"><div class="item">
	<a href="#">
	<em class="overflow-hidden">
	<img class="img-responsive" src="assets/images/descubre/img6.jpg" alt="">
	</em>
	<span>
	<strong>Id element |&nbsp; IBIZA</strong>
	</span>
	</a>
	</div></div><div class="owl-item" style="width: 285px;"><div class="item">
	<a href="#">
	<em class="overflow-hidden">
	<img class="img-responsive" src="assets/images/descubre/img7.jpg" alt="">
	</em>
	<span>
	<strong>Id element |&nbsp; FORMENTERA</strong>
	</span>
	</a>
	</div></div><div class="owl-item" style="width: 285px;"><div class="item">
	<a href="#">
	<em class="overflow-hidden">
	<img class="img-responsive" src="assets/images/descubre/img8.jpg" alt="">
	</em>
	<span>
	<strong>Id element |&nbsp; FORMENTERA</strong>
	</span>
	</a>
	</div></div></div></div>
	<div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div></div></div>
	</div>
	</div>
</div>